@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,300&family=Yeseva+One&display=swap');

body{
    margin: 0px;
    /* elimina la linea laterale bianca di default */
    padding: 0px;
    /* non strettamente necessario nei browser di oggi */
    font-family: 'Montserrat', sans-serif;
}

.header-title{
    background-image: url(polpo.jpg);
    min-height: 150px;
    /* per evitare che la scritta esca dal contenitore se reseized */
    background-size: cover;
    background-position: center;
    padding: 100px;
    /* cambia il padding interno e quindi allarga l'immagine */
    margin: 0px;
    /* per far aderire l'header a tutto lo schermo */
    color: rgb(57, 15, 9);
    font-size: 70px;
    text-align: center;
    font-family: 'Yeseva One', cursive;
}

.nav-menu{
    background-color:rgb(57, 15, 9);
    padding: 5px;
    text-align: center;
}

.nav-link{
    color: #C6D5DA;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
    /* toglie la sottolineatura dal link */
    border-style: solid;
    padding: 4px;
    border-radius: 5px;
    border-width: 1px;
    display: inline-block;
    width: 100px;
}

footer{
    background-color: rgb(57, 15, 9);
    padding: 15px;
}

.footer-text{
    margin: 0px;
    color: seashell;
    font-size: 15px;
    text-align: center;
}

section{
    max-width: 800px;
    margin: auto;
    padding: 5px;
}

.home-image{
    width: 100%;
    /* si fa in percentuale perchè prenderà le caratteristiche del genitore (section) che ha max-widht */
}

.price-table{
    border: solid;
}

.price-table td{
    border: solid;
    border-width: 1px;
}

.gallery-img{
    width: 32%;
}

.gallery-video{
    width: 100%;
    height: 300px;
}

.map{
    width: 100%;
    height: 400px;
}